<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anten Quotidien</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Anten Quotidien</h1>
        <nav>
            <ul>
                <li><a href="{% url 'article_list' %}">Accueil</a></li>
                <li><a href="{% url 'article_create' %}">Créer un article</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Anten Quotidien projet Cheikh Diop</p>
    </footer>
</body>
</html>